{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block head %}
{% endblock %}

{% block navbar %}
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'leagues' %}">Leagues</a></div>
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'players' %}">Players</a></div>
          <div class="navbar-header">
            <a class="navbar-brand" href="\admin">Admin</a></div>
          <div class="navbar-header">
            {% if user.is_anonymous %}
              <a class="navbar-brand"
                 href="{% url 'django.contrib.auth.views.login' %}">
                  <font color="green">login</font></a>
            {% else %}
              <a class="navbar-brand"
                 href="{% url 'logout' %}?next={{ request.path }}">
              <font color="orange">logout</font></a>
            {% endif %}
          </div>
    </div>
  </div>
{% endblock %}

<html>
    <head>
        <title>{% block title %}Django Fantalega{% endblock %}</title>
    </head>
    <body>

<!--    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}-->
    <div class="content container">
            <div class="row">
                <div class="col-md-8">

                    {% block content %}
                    {% endblock %}
                </div>
                <br>
            </div>
        </div>
    </body>
</html>

