{% extends 'fantalega/base.html' %}

{% block content %}
	<font face="Arial">
		<h1><font color="green">{{ league.name }}</font></h1>
		<br>
		budget:               <b><font color="blue">{{ league.budget }}</font><br></b>
		max trade operations: <b><font color="blue">{{ league.max_trades }}</font><br></b>
		max team goalkeepers: <b><font color="blue">{{ league.max_goalkeepers }}</font><br></b>
		max team defenders:   <b><font color="blue">{{ league.max_defenders }}</font><br></b>
		max team midfielders: <b><font color="blue">{{ league.max_midfielders }}</font><br></b>
		max team forwards:    <b><font color="blue">{{ league.max_forwards }}</font><br></b>
		rounds to do:         <b><font color="blue">{{ league.rounds }}</font><br></b>
		offset:               <b><font color="blue">{{ league.offset }}</font><br></b>
	</font>
    <br>
    <br>
    <b><font color="orange">League Teams:</font></b>
    <ul>
      {% for team in teams %}
      <li><a href="{% url 'team_details' team.id %}">{{ team.name }}</a></li>
      {% endfor %}
    </ul>

    <b><a href="{% url 'auction' league.id %}">Auction...</a></b>
    <br>
    <br>
    <b><font color="orange">votes</font></a></b>
    <br>
    <br>
      {% for day in days %}
      <li><a href="{% url 'vote' league.id day %}">Evaluation day: {{ day }}</a></li>
      {% endfor %}
    <br>
    <br>
    <b><a href="{% url 'calendar' league.id %}">Create Calendar</font></a></b>
{% endblock %}