{% extends 'fantalega/base.html' %}
{% load bootstrap3 %}

{% block content %}
		<h1><font color="green">{{ league.name }}</font></h1>

    <table class="table table-striped" width="100%">
      <tr>
          <th>budget</th>
          <th>max trade remaining</th>
          <th>max goalkeepers</th>
          <th>max defenders</th>
          <th>max midfielders</th>
          <th>max forwards</th>
          <th>rounds to do</th>
          <th>offset</th>
      </tr>
      <tr>
              <td>{{ league.budget }}</td>
              <td>{{ league.max_trades }}</td>
              <td>{{ league.max_goalkeepers }}</td>
              <td>{{ league.max_defenders }}</td>
              <td>{{ league.max_midfielders }}</td>
              <td>{{ league.max_forwards }}</td>
              <td>{{ league.rounds }}</td>
              <td>{{ league.offset }}</td>
      </tr>
    </table>
        <div id="container" style="width:100%;">
            <div id="left" style="float:left; width:50%;">
                <b><font color="orange">League Teams:</font></b>
                <ul>
                  {% for team in teams %}
                  <li><a href="{% url 'team_details' team.id %}">
                      {{ team.name }}</a></li>
                  {% endfor %}
                </ul>
                {% if user.is_staff %}
                <form action="#" method="get">
                  <input type="submit" class="btn" value="Start Auction"
                        name="auction">
                  <input type="submit" class="btn" value="Create Calendar"
                        name="calendar">
                </form>
                {% endif %}
            </div>
            <div id="right" style="float:right; width:50%;">
                <b><font color="orange">Evaluation uploaded</font></b>
                <ul>
                  {% for day in days %}
                  <li><a href="{% url 'vote' league.id day %}">
                      Evaluation day: {{ day }}</a></li>
                  {% endfor %}
                </ul>
                <form action="#" method="get">
                  <input type="submit" class="btn" value="Upload votes"
                        name="upload votes">
                </form>
                <b><a href="{% url 'matches' league.id %}">view calendar</a></b><br>
                <b><a href="{% url 'chart' league.id %}">view chart</a></b><br>
            </div>
        </div>
{% endblock %}