{% extends 'fantalega/base.html' %}
{% load app_filters %}

{% block content %}
	<h1>Lineup <font color="green">{{ team.name }}</font>
        day: <font color="red">{{ day }}</font><br></h1>
        <div id="container" style="width:100%;">
            <div id="left" style="float:left; width:30%;">
                <b><font color="orange">holders:</font></b><br>

                <table class="table table-striped">
                  <tr>
                      <th>code</th>
                      <th>player name</th>
                      <th>real team</th>
                      <th>role</th>
                      <th>fv</th>
                      <th>v</th>
                  </tr>
                      {% for player in holders %}
                  <tr>
                          <td>{{ player.code }}</td>
                          <td><a href="{% url 'player_details' player.id %}">
                              {{ player.name }}</a></td>
                          <td>{{ player.real_team }}</td>
                          <td>{{ player.role }}</td>
                          <td>{{ player|get_fvote:fantaday }}</td>
                          <td>{{ player|get_vote:fantaday }}</td>
                  </tr>
                      {% endfor %}
                </table>
                <form action="#" method="get">
                 <input type="submit" class="btn" value="modify lineup"
                        name="modify lineup">
                </form>
                <form action="#" method="get">
                 <input type="submit" class="btn" value="calculate"
                        name="calculate">
                </form>

                <b><font color="orange">pts:</font></b>
                    {{ total|pts_filter }}
                <br>
                <b><font color="orange">defense mod:</font></b>
                    {{ mod }}
                <br>
                <br>
                <a href="{% url 'team_details' league.id team.id %}"><b>< back</b></a>
            </div>
            <div id="right" style="float:right; width:30%;">
                <b><font color="orange">substitutes:</font></b><br>

                <table class="table table-striped">
                  <tr>
                      <th>code</th>
                      <th>player name</th>
                      <th>real team</th>
                      <th>role</th>
                      <th>fv</th>
                      <th>v</th>
                  </tr>
                      {% for player in substitutes %}
                  <tr>
                          <td>{{ player.code }}</td>
                          <td><a href="{% url 'player_details' player.id %}">
                              {{ player.name }}</a></td>
                          <td>{{ player.real_team }}</td>
                          <td>{{ player.role }}</td>
                          <td>{{ player|get_fvote:fantaday }}</td>
                          <td>{{ player|get_vote:fantaday }}</td>
                  </tr>
                      {% endfor %}
                </table>
            </div>


        </div>

{% endblock %}
