{% extends 'fantalega/base.html' %}
{% load bootstrap3 %}
{% load app_filters %}

{% block content %}
    <h1>List of all matches for
        <font color="green">{{ league.name }}</font>
    </h1>

    <table class="table table-striped" width="100%">
      {% for day in days %}
          <tr>
              <th colspan="2">
              <a href="{% url 'match_details' league.id day %}">
              giornata {{ day }}</a></th>
          </tr>
          {% get_matches matches day as f_matches %}
          {% for match in f_matches %}
          <tr>
              <td align="left">{{ match.home_team.name }}</td>
              <td align="left">{{ match.visit_team.name }}</td>
              <td>{{ match.home_team|get_goals:day }}</td>
              <td>{{ match.visit_team|get_goals:day }}</td>
          </tr>
          {% endfor %}
      {% endfor %}
    </table>
{% endblock %}