{% extends 'fantalega/base.html' %}

{% block content %}
	<font face="Arial">
		<h1><font color="green">{{ team.name }}</font></h1>
		<br>
		budget:               <b><font color="blue">{{ team.budget }}</font><br></b>
		trade remaining:      <b><font color="blue">{{ team.max_trades }}</font><br></b>
	</font>
    <br>

    <b><font color="orange">Players:</font></b><br>

    <table class="table table-striped" width="40%">
      <tr>
          <th>code</th>
          <th>player name</th>
          <th>real team</th>
          <th>cost</th>
      </tr>
          {% for player in team.player_set.all %}
      <tr>
              <td>{{ player.code }}</td>
              <td><a href="{% url 'player_details' player.id %}">
                  {{ player.name }}</a></td>
              <td>{{ player.real_team }}</td>
              <td>{{ player.cost }}</td>
      </tr>
          {% endfor %}
    </table>

    <b><font color="orange">Trade operations:</font></b><br>
    <table class="table table-striped" width="40%">
      <tr>
          <th>IN/OUT</th>
          <th>player name</th>
      </tr>
          {% for trade in team.trade_set.all %}
      <tr>
              <td>{{ trade.direction }}</td>
              <td><a href="{% url 'player_details' trade.player.id %}">
                  {{ trade.player.name }}</a></td>
      </tr>
          {% endfor %}
    </table>

      <b><a href="{% url 'trade' team.id %}">New trade operation...</a></b>
{% endblock %}