{% extends 'fantalega/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <b>Upload lineup for <font color="red">{{ team.name }}</font></b>
        <a href="{% url 'team_details' league.id team.id %}">
            <b>< back to {{ team.name }}</b></a>

    <form method="POST" class="form">
		{% csrf_token %}
        <div id="container" style="width:100%;">
            <div id="left" style="float:left; width:50%;">
              {% bootstrap_field form.module %}
              {% bootstrap_field form.holders %}
            </div>
            <div id="right" style="float:right; width:50%;">
              {% bootstrap_field form.day %}
              {% bootstrap_field form.substitute_1 %}
              {% bootstrap_field form.substitute_2 %}
              {% bootstrap_field form.substitute_3 %}
              {% bootstrap_field form.substitute_4 %}
              {% bootstrap_field form.substitute_5 %}
              {% bootstrap_field form.substitute_6 %}
              {% bootstrap_field form.substitute_7 %}
              {% bootstrap_field form.substitute_8 %}
              {% bootstrap_field form.substitute_9 %}
              {% bootstrap_field form.substitute_10 %}
            </div>
        </div>

        <div>
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "save" %} upload
                </button>
			{% endbuttons %}
        </div>
    </form>
{% endblock %}